__pycache__/
*/__pycache__/

# Repository dependencies
AudioCLIP
habitat-lab
habitat-sim
sound-spaces

# Tebsting, debugs, and logging
logs
*.mp3
ppo/wandb
rsatoolbox
perceiver-pytorch

# Datasets and related
ppo/data
ppo/cached_data
SAVI_Oracle_Dataset_*
ppo/AvNav_Oracle_Dataset_v0
ppo_gru_dset_2022_09_21__750000_STEPS
ppo_gru_savi_dset_2022_10_27__750000_STEPS
ppo/cats_scenes_trajs_C_6_M_5_N_5__2023_06_01_10_41.bz2

# Plots and paper data
2023-12-submission-data